.icon {
  position: absolute;
  margin-left: 15px;
  margin-top: 12px;
}

.input {
  background-color: darkslategray;
  border-radius: 30px;
  height: 30px;
  color: white;
  font-weight: 100;
  font-size: 20px;
  border-color: transparent;
  padding: 18px 18px 18px 50px;
  width: 100%;
}
input::placeholder {
  color: lightslategray;
}
input:focus {
  outline-width: 0;
  border: solid 1px white;
}
